* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 50vh;
}

h1 {
    color: white;
    font-size: 40px;
}


.color {
    color: #4ADF86
}

p {
    color: lightgray;
    font-size: 20px;
    margin-bottom: 50px;
}


.container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    height: 550px;
    background-color: #1F2937;
    padding: 75px;
    margin-top: 50px;
}

.horizontal__line {
    width: 400px;
    height: 1px;
    background-color: #273549;
    margin: 50px 0;
}

button {
    color: white;
    border: none;
    background-color: #10B981;
    font-size: 14px;
    padding: 10px 17px;
    letter-spacing: 1px;
    font-weight: 100;
    border-radius: 10px;
}

.password__box--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    column-gap: 2rem;
}

.password__box {
    width: 200px;
    height: 40px;
    background-color: #273549;
    border-radius: 10px;
    color: #55F991;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}